@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin-bottom: 3rem;
}

div#bottons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

div#bottons .botao{
  font-weight: bold;
  text-align: center;
  margin: 0.2rem;
  padding: 0.2rem;
  color: #3B3B3B;
  border-radius: 4px;
  border: 2px solid #3B3B3B;
  cursor: pointer;
  transition: 0.5s;
}

div#bottons .botao:hover{
  color: white;
  background-color:#3B3B3B;
}

div#bottons .news{
  width: 4rem;
}

div#bottons .info{
  width: 8rem;
}

div#conteiner{
  margin: 0 4rem;
}

div#conteiner h2{
  text-indent: 1rem;
  margin: 1rem 0;
}

div#conteiner p{
  text-indent: 1rem;
  text-align: justify;
}

div.text{
  display: flex;
  height: 200px;
  margin-bottom: 4rem;
}

div.text img{
  width: 80%;
  height: 100%;
  margin: 1rem;
}
div.text p{
  margin: 3rem 0;
  align-items: center;
}

@media screen and (max-width: 885px) {
  div.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    align-items: center;
  }
  

  div.text img{
    width: 40%;
    height: 100%;
    margin: 1rem;
  }
  div.text p{
    margin: 1rem 0;
    align-items: center;
  }
}

@media screen and (max-width: 685px) {
  div.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;
    align-items: center;
  }
  

  div.text img{
    width: 50%;
    height: 100%;
    margin: 1rem;
  }
  div.text p{
    margin: 1rem 0;
    align-items: center;
  }
}

@media screen and (max-width: 580px) {
  div.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    align-items: center;
  }
  

  div.text img{
    width: 50%;
    height: 100%;
    margin: 1rem;
  }
  div.text p{
    margin: 1rem 0;
    align-items: center;
  }
}
